In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
os.getcwd()

'D:\\Data Science\\Python\\Python'

In [4]:
df=pd.read_csv("auto.csv")

In [10]:
df.columns

Index(['Unnamed: 0', 'symboling', 'normalized_losses', 'make', 'fuel_type',
       'aspiration', 'num_doors', 'body_style', 'drive_wheels',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [6]:
df['price']

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

# Find the most expensive car company name

In [8]:
column = df["price"]
max_value = column.max()
max_value

45400.0

In [11]:
df3=df.loc[df['price']==max_value,'make']

In [12]:
df3

74    mercedes-benz
Name: make, dtype: object

# Count total cars per company

In [13]:
df['make'].value_counts().sort_values(ascending = False)

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
bmw               8
mercedes-benz     8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# Sort all cars by Price column

In [15]:
df['price'].sort_values(ascending = False)

74     45400.0
16     41315.0
73     40960.0
128    37028.0
17     36880.0
        ...
138     5118.0
9          NaN
44         NaN
45         NaN
129        NaN
Name: price, Length: 205, dtype: float64

# Group by make, fuel-type and body-style to calculate the average of city-mpg and highwaympg (miles per gallon)

In [16]:
group_data = df.groupby(['make','fuel_type','body_style'])['city_mpg','highway_mpg'].mean() 
print(group_data)

                                    city_mpg  highway_mpg
make        fuel_type body_style
alfa-romero gas       convertible  21.000000    27.000000
                      hatchback    19.000000    26.000000
audi        gas       hatchback    16.000000    22.000000
                      sedan        19.400000    24.400000
                      wagon        19.000000    25.000000
...                                      ...          ...
volkswagen  gas       sedan        25.200000    31.600000
                      wagon        25.000000    31.000000
volvo       diesel    sedan        26.000000    27.000000
            gas       sedan        20.428571    25.571429
                      wagon        21.333333    26.000000

[66 rows x 2 columns]

C:\Users\GODWIN~1\AppData\Local\Temp/ipykernel_16304/1046302708.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group_data = df.groupby(['make','fuel_type','body_style'])['city_mpg','highway_mpg'].mean()